 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <%= hidden_field_tag 'plan', params[:plan] %> <!-- CREATING A  HIDDEN TEXT FIELD to check wich plan ( 1 or 2 ) ( BASIC or  PRO )
    
      <div class=" form-group"><!-- chnage form style with bootstrap  (form-group)-->
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true , class: 'form-control'%><!-- chnage form style with bootstrap  (form-control)-->
      </div>
    
      <div class=" form-group"><!-- chnage form style with bootstrap  (form-group)-->
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %><!-- chnage form style with bootstrap  (form-control)-->
      </div>
    
      <div class=" form-group"> <!-- chnage form style with bootstrap  (form-group)-->
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %><!-- chnage form style with bootstrap  (form-control)-->
      </div>
      
      <div class=" form-group"> <!-- chnage form style with bootstrap  (form-group)-->
        <%= label_tag :card_number,"Credit Card Number" %><br />
        <%= text_field_tag :card_number, nil, name:nil, class: 'form-control' %><!-- chnage form style with bootstrap  (form-control)-->
      </div>
      
      <div class=" form-group"> <!-- chnage form style with bootstrap  (form-group)-->
        <%= label_tag :card_code,"Security Code on Card (CW)" %><br />
        <%= text_field_tag :card_code,nil,name:nil, class: 'form-control' %><!-- chnage form style with bootstrap  (form-control)-->
      </div>
      
      <div class=" form-group"> <!-- chnage form style with bootstrap  (form-group)-->
        <%= label_tag :card_month,"Card Expiration" %><br />
        <%= select_month nil, {add_month_numbers: true},{name: nil, id: "card_month"} %><!-- chnage form style with bootstrap  (form-control)-->
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15},{name: nil, id: "card_year"} %><!-- chnage form style with bootstrap  (form-control)-->
      </div>


    
      <div class="actions form-group">
        <%= f.submit "Sign up", class: 'btn btn-success', id: 'form-submit-btn' %> <!-- chnage button style with bootstrap --> <!-- adding an ID form this BUTTON AS WELL --> 
        <%= devise_error_messages! %>
      </div>
 <% end %>