<!--####app/controllers/contacts_controller.rb-->
<!--class ContactsController < ApplicationController-->
<!--  def new-->
<!--    @contact = Contact.new-->
<!--  end-->
<!--...-->

<!--####app/views/contacts/new.html.erb-->
<div class="row">
  <div class="col-md-4 col-md-offset-4"> <!--col-md-4 col-md-offset-4 is from bootstrap moving form by coloumns offset subtracts coloums -->
    <div class="well" > <!--well is from bootstrap moving form by coloumns puts a box around form-->
      <%= form_for @contact do |f| %>
        <div class="form-group"> <!--dhdh form-group is from bootstrap-->
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %> <!--dhdh form-control is from bootstrap-->
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :comments %>
          <%= f.text_area :comments, class: 'form-control' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-default' %> <!--dhdh btn btn-default is from bootstrap-->
      <% end %>
    </div>
  </div>
</div>

<!--####console commands-->
<!--git add .-->
<!--git commit -m "Created contact form view"-->
<!--git push origin contact_form-->
