<!-- ANYTHING ADDED IN THIS PAGE AFFECTS THE ENTIRE SITE!!-->


<!DOCTYPE html>
<html>
<head>
  <title>Dev Match</title> <!-- name of site-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  
<!--  ####console commands-->
<!--git checkout development-->

<!--####app/views/layouts/application.html.erb-->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation"> <!-- default or inverse changes look of bar-->
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to root_path,class:"navbar-brand" do %> <!-- wrap a ruby link around html and a text-->
        <i class="fa fa-users"></i> <!-- fa fa-users is from front awesome ( icon)  navbar-brand helps to align it in navbar-->
        Dev Match <!--name of site-->
      <% end %> 
      
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li> <!-- about_path is  our about path we created (rake routes) in console shows routes-->
        <li><%= link_to "Contact Us", new_contact_path %></li> <!-- new_contact_path is  our contact path we created in routes file  ,(console : bundle exec rake routes) in console shows routes-->
      </ul>                                                   <!-- resources contact is just  rails packed code check (console : bundle exec rake routes) to see all contact paths-->
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class ="container"> <!-- container class in bootstrap makes sure everthing is aligned properly-->
  <%= yield %> <!--  outputs whichever specific page we are on eg. about page -->
</div>


</body>
</html>
